# Ignore virtual environment directory
vnv/

# Ignore Python bytecode files
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore coverage reports
.coverage
*.cover
*.py,cover

# Ignore IDE/editor specific files
.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.nib

# Ignore build artifacts
build/
dist/
*.egg-info/
*.egg
*.manifest
*.spec

# Ignore MacOS specific files
.DS_Store
